<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-header">
                <!-- Navbar Header-->
                <a href="{{ path('admin') }}" class="navbar-brand">
                    <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Panel</strong><strong>Admin</strong></div>
                </a>
            </div>
            <div class="right-menu list-inline no-margin-bottom">
                <!-- Languages dropdown    -->
                <div class="list-inline-item dropdown show">
                    <a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle" role="button"><img src="{{ asset('build/images/GB.ae3a9041.png') }}" alt="English"><span class="d-none d-sm-inline-block">{{ 'global.lang.english'|trans|capitalize }}</span></a>
                    <div aria-labelledby="languages" class="dropdown-menu">
                        <a rel="nofollow" href="#" class="dropdown-item"><img src="{{ asset('build/images/FR.b848c9d2.png') }}" alt="English" class="mr-2"><span>{{ 'global.lang.french'|trans|capitalize }}</span></a>
                    </div>
                </div>
                <!-- Log out               -->
                <div class="list-inline-item logout">
                    <a id="logout" href="{{ path('app_logout') }}" class="nav-link">{{ 'admin.logout'|trans|capitalize }} <i class="icon-logout"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>